@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  transition: 0.5s;
}

/*************** HomeLayout section *******************/

.home-layout-container{
 max-width: 80rem;
 margin-left: auto;
 margin-right: auto;
 padding: 80px 32px;
}


/*************** Navbar section *******************/

.navbar-section{
  border: 1px solid rgb(83, 83, 83);
  background-color: lightslategray;
 width: 100%;
 transition: 0.25s;

}

.navbar{
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.logo {
  font-size: 35px;
  padding: 8px 24px;
  background-color: lightcoral;
  border-radius: 0.5rem;
}

.nav-links{
  border: 1px solid black;
  display: flex;
  column-gap: 20px;
}

 .link{
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.05rem;
  transition: 0.25s;
  padding:2px 5px;
 border-radius: 0.3rem;
 color: black;

}

.color .link {
  color:white;
}

.link:hover{
background-color: lightslategray;
}

.theme-changer{
  background-color:transparent;
  border: none;
  font-size: 22px;
  box-shadow: inset 0 0 10px white, inset 0 0 8px yellow;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.theme-cart-logo-container{
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart{
  position: relative;
  font-size: 25px;
  
}

.total-number-product{
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -6px;
  font-size: 14px;
  background-color: lightskyblue;

}

/*************** Home section *******************/

.section-home{

  display: grid;
   grid-template-columns: 1fr;
   row-gap: 60px;
}

/*motto of company*/
.motto-company-container{
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.motto-inner{
  border: 1px solid black;
  display: grid;
  row-gap: 20px;
  padding: 20px;
}

.motto{
font-size: 38px;
font-family: "Playwrite AU QLD", cursive;
text-align: center;
color: rgba(247, 132, 150, 0.74);
transition: 0.25s;
}

.description{
  font-family: "Italianno", cursive;
  font-size: 35px;
  letter-spacing: 1px;
  color: rgb(92, 109, 126);
  transition: 0.25s;
}

.product-sample{
border: 1px solid black;
background-color: rgba(159, 171, 184, 0.2);
border-radius: 0.5rem;
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
transition: 0.25s;
}

.img-sample-product{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position:center;
}

/*product featured product of company*/
.company-best-featured-product-container{

}

.top-selling-product-heading{
  font-size: 30px;
  font-weight: 500;
  color: rgb(63, 79, 95);
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  transition: 0.25s;
}

.underline{
  border: 1px inset rgb(255, 252, 252);
 width: 100%;

}

.top-selling-product-display{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 0px;
  column-gap: 20px;
}
.top-selling-product-single-card{
  box-shadow: 0 0 10px rgb(173, 170, 170);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  row-gap: 20px;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
}

.top-selling-product-single-card:hover{
  box-shadow: 0 0 10px rgb(224, 219, 219); 
}

.selling-image{
  width: 320px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.name-price-container{
  display: grid;
  place-items: center;
  row-gap: 10px;
}

.top-selling-product-name{
letter-spacing: 0.5px;
font-size: 20px;
text-transform: capitalize;
color: rgb(73, 96, 119);
}

.top-selling-product-price{
  letter-spacing: 1px;
  font-size: 17px;
  color: rgb(34, 78, 122);
}

/*************** About section *******************/
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.about-section{
  border:1px solid black;
  display: grid;
  place-items: center;
}

.about-title{
  text-align: center;
max-width: 700px;
font-size: 40px;
letter-spacing: 0.5px;
margin-bottom: 40px;

}

.about-title span{
  color: lightslategray;
}

.about-description{
max-width: 600px;
font-size: 17px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  font-family: "GFS Neohellenic", sans-serif;
  color: lightslategray;
}

/*************** Product section *******************/

/*filter section*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AR:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.filter-input-container{
  background-color: #eeecec;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 0.5rem;
}

.search-input{
   border: 1px solid blue;
   display: grid; 
   align-items: center;
   color: rgb(65, 58, 58);
}

.search-heading{
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
  
}

.shipping-input{
display: grid;
place-items: center;
}

.text-input, 
.select-input, 
.range-input,
.checkbox-input{
  border: 2px solid lightslategray;
  background-color: transparent;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  border-radius: 0.5rem;
  padding: 5px 5px;
  color: rgb(65, 58, 58);
}

.checkbox-input{
  width: 20px;
  height: 20px;
}

.range-input{
 
}

.selecting-range{
  display: flex;
  justify-content: space-between;
  color: rgb(83, 161, 157);
  font-weight: 500;
}

.range-para{
  display: flex;
  justify-content:space-between;
  color: lightslategray;
}

.show-range{

}

.reset-btn{
  display: grid;
  place-items: center;
  text-decoration: none;
}

.search-btn, .reset-btn{
  font-family: "Teko", sans-serif;
  font-size: 20px;
  border: none;
  text-transform: capitalize;
  border-radius: 1rem;
  background-color: lightcoral;
  color: rgb(65, 58, 58);
}

/*Product Container section*/

.product-container{
  border: 1px solid red;
  margin-top: 40px;
}

.total-flex-grid-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.grid-list-container{
  border: 1px solid black;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.grid-style-btn{
  background-color: #057AFF;
  color: #eeecec;
  width: 25px;
  height:25px;
  transform: scale(1.5,1.5);
  border-radius: 50%;
  border: none;
}

.list-style-btn{
border: none;
background-color: transparent;
width: 25px;
height:25px;
transform: scale(1.5,1.5);

}

.products-single-container{
  border: 1px solid black;
  padding-top: 40px;
}

/* Product gridContainer */
.products-grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.single-grid-container{
  text-decoration: none;
  box-shadow: 0 0 10px rgb(189, 187, 187, 0.4);
  border-radius: 0.5rem;
  background-color: rgb(218, 226, 238);
  transition: 0.25s;
}

.single-grid-container:hover{
  background-color: rgb(253, 253, 234);
  transform: scale(1.01);
}

.image-container{
padding: 15px 15px 0px 15px;
} 

.image{
 width:100%;
height: 200px;
border-radius: 0.2rem;
object-fit: cover;
object-position:center;
}

.grid-product-detail{

display: grid;
place-items: center;
row-gap: 15px;
padding: 40px;
}

.grid-product-name{
  text-transform: capitalize;
  font-size:18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #394E6A;
}

.grid-product-price{
  letter-spacing: 1px;
  font-size:16px;
  font-weight: 400;
  color: #394E6A;
}

.grid:hover{
  box-shadow: 0 0 10px white;
}

/* Product button pagination */
.all-btn-pagination{
   display: flex;
   justify-content: flex-end;
   margin-top: 40px;
}

.prev-btn{
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.next-btn{
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  }

.prev-btn, 
.btn-number,
.next-btn{
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(94, 104, 114);
  background-color:#F0F6FF;
  border: none;
  text-transform: uppercase;
}

.hight-light-btn{
  background-color: rgb(201, 211, 221);
}

/* Product List Container */

.product-list-container{
  display: grid;
  row-gap: 10px;
}

.single-product-list-container{
  text-decoration: none;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.2);
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.active:hover{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.2);
}


.product-list-details{
  display: flex;
  column-gap: 80px;
}

.product-list-name-company{
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-size: 18px;
}

.product-list-name{
  font-weight: 500;
  color: rgb(44, 50, 56);
}

.product-list-company{
  font-weight: 400;
  color: rgb(192, 198, 204);
  font-size: 17px;
}

.product-list-image{
  width: 130px;
  height:130px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
}

.active:hover{
 transform: scale(1.02, 1.02); 
}

.product-list-price{
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 500;
  color: rgb(105, 106, 107);
}

/********************* single product container **********************/

.single-product-link{
  display: flex;
  column-gap: 5px;
  margin-bottom: 40px;
  padding: 5px 0px 5px 0px;
}

.single-product-container{
  border: 1px solid black;

}

.home-link,
.products-link
{
  color: black;
 text-decoration: none;
}

.greater-then-sign{
  color: lightslategray;
}

.product-description-container{
  border: 1px solid blue;
  display: flex;
  gap: 20px;
}

.single-product-image{
  border: 1px solid red;
  min-width: 500px;
  max-height: 400px;
  border-radius: 0.5rem;
}

.product-details-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.product-name-company-price-container{
  border: 1px solid black;
  text-transform: capitalize;
  display: grid;
  row-gap: 10px;
}

.product-name{
  font-weight: bold;
  font-size: 30px;
  color: #394E6A;
}

.product-company{
  color:#C7C9D1;
  font-weight: bold;
  font-size: 25px;
}

.product-price{
  letter-spacing:1px;
  font-size: 20px;
  color: rgb(65, 64, 64);
}

.product-desc{
  border: 1px solid black; 
 line-height: 2rem;
 letter-spacing: 0.05rem;
 color: #394E6A;
}

.product-color-container{
  border: 1px solid black; 
  display: grid;
  row-gap: 10px;
}

.product-color-para{
  color: #394E6A;
  font-weight: 500;
}

.product-quantity{
  border: 1px solid black; 
  display: grid;
  row-gap: 10px;
}

.product-quantity-name{
  color: #394E6A;
  font-weight: 500; 
}

.color-btn{
  border: 2px solid transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.color-active{
  border: 2px solid black;
}

.color-btn:hover{
  border: 2px solid black;
}

.input-border{
  border: 2px solid black;
  max-width: 300px;
  padding: 2px;
  border-radius: 0.5rem;
  border: 2px solid rgb(48, 48, 187);
}

.product-input-quantity{
width: 100%;
padding: 10px;
border: 1px solid black;
border-radius: 0.5rem;
font-size: 1rem;
}

.add-btn{
  margin-top: 20px;
  max-width: 150px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #057AFF;
  border: none;
  padding:15px 20px;
  color: white;
 border-radius: 0.5rem;
 letter-spacing: 0.05rem;
 transition: 0.25s;
}

.add-btn:hover{
background-color:#BF95F9;
}

/*********************** cart section **************************/

.cart-section{
  border: 1px solid black;
}

.cart-heading{
  font-size: 30px;
  color: #394E6A;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.cart-container{
  border: 1px solid red;
   display: grid;
   grid-template-columns: 2fr 1fr;
   column-gap: 20px;
}

.cart-items-container{
  border: 1px solid violet;
  display: grid;
  row-gap: 20px;
}

.cart-price-container{
  border: 1px solid blue;
  
}

.single-cart-items-container{
 border-bottom: 1px solid rgb(194, 200, 206);
 display: flex;
 justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

.cart-image-details-container{
  display: flex;
  column-gap: 50px;
}

.cart-items-details{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cart-name{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  color: #2f3f53;
}

.cart-company{
  text-transform: capitalize;
  font-size: 14px;
  font-weight:500;
  color: #c8cbce;
}

.cart-image{
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position:center;
  border-radius: 0.5rem;
}

.cart-color{
  text-transform: capitalize;
  border: 1px solid black;
  display: flex;
 place-items: center;
 column-gap: 10px;
 color: #394E6A;
 font-size: 14px;
}

.cart-color-circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
 
}

.cart-amount-remove-price-container{
 border: 1px solid black;
 display: flex; 
 flex-direction: row;
 justify-content: space-between;
 column-gap: 80px;
}

.cart-amount-remove-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.cart-price{
font-size: 16px;
font-weight: 500;
color: #2f3f53;
}

.cart-amount-input{
  border: 1px solid rgb(180, 189, 199);
width: 50px;
padding: 2px;
border-radius: 0.6rem;
}

.cart-amount-para{
  text-transform: capitalize;
  font-size: 15px;
  color: #394E6A;
}

.remove-btn{
  color: #057AFF;
  font-size: 14px;
  cursor: pointer;
}

/* cart pricing shipping details */

.total-quantity-price-btn-container{
  display: grid;
}

.total-quantity-price-container{
  border: 1px solid lightslategray;
  min-height: 220px;
  padding: 20px;
  border-radius: 0.5rem;
  background-color: #F0F6FF;
}

.cart-sub-total, 
.cart-shipping,
.cart-tax
{
  border-bottom: 1px solid rgb(197, 204, 211);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 0px 8px 0px;
  color: #2f3f53;
}

.sub-total-price,
.shipping,
.tax {
  color: #2f3f53;
  font-weight: 500;
}

.cart-order-container{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: #2f3f53;
}

.order-total{
  font-weight: 500;
  color: #2f3f53;
}

.btn-checkout{
  border: 1px solid black;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #057AFF;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 1px solid #057AFF;
  color: rgb(228, 223, 223);
  transition: 0.35s;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
}

.btn-checkout:hover{
  background-color: #FFB6C1;
  color: #2f3f53;
  border: 1px solid #FFB6C1;
}

/************************* checkout section ************************/

.checkout-section{
 border: 1px solid black;
}

.checkout-shipping-price-container{
  border: 1px solid red;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.underline{
  border: 0.1rem inset rgb(252, 254, 255);
}

.checkout-header{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500;
  color: #394E6A;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.shipping-information-container{
 border: 1px solid blue;
 display: grid;
 row-gap: 25px;
}

.shipping-para{
 font-size: 20px;
 text-transform: capitalize;
 color: #394E6A;
 font-weight: 500;
}

.checkout-price-container{
  border: 1px solid orchid;
}

.checkout-user-name,
.checkout-user-address{
 display: grid;
 row-gap: 5px;
}

.user-name,
.user-address{
  text-transform: capitalize;
  font-size: 14px;
}

.input-name,
.input-address{
  border: 1px solid rgb(213, 217, 221); 
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 0.4rem;
}

.btn-shipping-checkout{
  display: grid;
  place-items: center;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #057AFF;
  border: 1px solid #057AFF;
  color: rgb(228, 223, 223);
 cursor: pointer;
}

.btn-shipping-checkout:hover{
  background-color: #FFB6C1;
  color: #2f3f53;
  border: 1px solid #FFB6C1;
}

/* checkout pricing shipping details */

.checkout-price-container{
  border: 1px solid lightslategray;
  padding: 20px;
  border-radius: 0.5rem;
  background-color: #F0F6FF;
}

.checkout-sub-total, 
.checkout-shipping,
.checkout-tax
{
  border-bottom: 1px solid rgb(197, 204, 211);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 0px 8px 0px;
  color: #2f3f53;
}

.check-sub-total-price,
.check-shipping,
.check-tax {
  color: #2f3f53;
  font-weight: 500;
}

.checkout-order-container{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: #2f3f53;
}

.checkout-order-total{
  font-weight: 500;
  color: #2f3f53;
}

/*********************** order section *************************/

.order-section{
  border: 1px solid black;
}

.order-heading{
  text-transform: capitalize;
  font-weight: 500;
  color: #2f3f53;
  letter-spacing: 1px;
  padding-bottom:20px;
}

.order-underline{
  border: 1px inset rgb(245, 246, 247);
}

.order-total-quantity{
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #2f3f53;
}

.order-products-shipping-heading-container{
border: 1px solid black;
display: grid;
grid-template-columns: 2fr 2.5fr 1fr 1fr 1.5fr;
padding-bottom: 10px;
}

.order-name,
.order-address,
.order-products,
.order-cost,
.order-date{

  text-transform: capitalize;
  font-size: 14px;
  color: #8b8b8b;
  font-weight: 500;
}

.order-products-shipping-details-container{
  border: 1px solid violet;
}

.single-order-products-shipping-details-container{
  padding: 6px 0px 6px 0px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 2.5fr 1fr 1fr 1.5fr;
  padding-bottom: 10px;
}

.current-order-name,
.current-order-address,
.current-order-products,
.current-order-cost{
  color: #2f3f53;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.current-order-date{
  color: #2f3f53;
  font-size: 14px;
  font-weight: 500;
}

.order-empty{
  display: grid;
  place-items: center;
  height: 50vh;
  font-weight: 500;
  font-size: 35px;
  color: #2f3f53;
}

.order-btn-container{
  float: right;
  margin-top: 30px;
}

.order-btn-prev,
.order-btn-next,
.order-btn-index {
  font-size: 16px;
  letter-spacing: 0.1rem;
  font-weight: 500;
 padding: 4px 8px;
 background-color: rgb(239, 239, 240);
 border: 1px solid rgb(239, 239, 240);
 color: #394E6A;
 transition: all 0.35s ease-in-out;
}

.order-btn-prev{
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.order-btn-next{
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.order-btn-prev:hover,
.order-btn-next:hover,
.order-btn-index:hover{
  background-color: #9ea8a3;
}

.active-order-btn-index{
  background-color: #9ea8a3;
}

